.main-container .row .region-content #news {
  display: none;
}
.region-content #news.active {
  display: block !important;
}
.region-content #news .content .news-items {
  margin-top: 30px;
}
.region-content #news .content .add-news-button {
  clear: both;
  height: 30px;
  width: 100%;
  margin-top: 15px;
}
.region-content #news .content .add-news-button a {
  float: right;
}
.region-content #news .content .add-news-button a::before {
  font-family: 'Glyphicons Halflings';
  content: "\2b";
  margin: 4px;
  top: 1px;
  position: relative;
}
.page-node-add-ol-news .vertical-tabs-list li a[href="#edit-options"] {
  display: inline-block !important;
  font-family: Roboto, sans-serif;
  background-color: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.page-node-add-ol-news .vertical-tabs-list li a[href="#edit-options"] .summary,
.page-node-add-ol-news .vertical-tabs-pane > .panel-body > .form-item-status {
  display: none;
}
.page-node-add-ol-news #edit-comment-settings .panel-body {
  padding: 0;
}
.node-type-ol-news .ol-content .field-name-body {
  margin-top: 20px;
}
.main-container .activity_item.news_activity a.btn-default {
  color: #69758a !important;
}
/* New stream */
li.news-item .comment-container .comment-wrapper {
  display: table;
  width: 100%;
}
li.news-item .comment-container .comment-wrapper .comment-user {
  display: table-cell;
  width: 40px;
}
li.news-item .comment-container .comment-wrapper .comment-body {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
li.news-item .comment-container .comment-items-wrapper {
  margin-top: 20px;
  float: left;
  width: 100%;
}
li.news-item .comment-container .comment-items-wrapper #edit-openlucius-core-social-comment-body {
  width: 100%;
}
li.news-item .comment-container .comment-item {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
li.news-item .comment-container .comment-user {
  float: left;
}
li.news-item .comment-container .comment-body .comment-body-username {
  float: left;
  margin-right: 5px;
}
li.news-item .comment-container .comment-body {
  font-size: 12px;
}
li.news-item .comment-container .comment-user img {
  margin-right: 10px;
}
#openlucius-core-social-comment-on-status-update-form .form-textarea-wrapper {
  margin-top: 0;
}
#openlucius-core-social-comment-on-status-update-form .form-type-textarea label {
  display: block;
}
.timeline .itu-attachments {
  float: left;
  margin-top: 20px;
  clear: both;
}
.timeline-heading h5 {
  color: #008cbb;
}
.timeline-heading small {
  font-size: 12px;
}
.timeline.news-item .timeline-heading blockquote {
  margin: 0 0 10px;
  padding: 0;
}
